<!DOCTYPE html PUBLIC "-//WC//DTD XHTML . Strict//EN"
	"http://www.w.org/TR/xhtml/DTD/xhtml-strict.dtd">
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" xmlns="http://www.w.org//xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>
<body>
	<f:layout name="Default" />
	<f:section name="main">
		<div class="card profile">
			<f:render partial="validationResults" arguments="{prefix:'changePassword.form', validationResults: validationResults}" />
			<f:security.ifAuthenticated>
				<f:then>
					<f:render section="authenticated" arguments="{_all}" />
				</f:then>
				<f:else>
					<f:render section="nonauthenticated" />
				</f:else>
			</f:security.ifAuthenticated>
		</div>
	</f:section>
	<f:section name="authenticated">
		<div class="card">
			<div class="card-body">
				<div class="card-text">
					<f:form action="changePassword" class="form" method="POST" object="{password}" objectName="password">
						<div class="form-group">
							<label for="password"><f:translate key="changePassword.form.password" /></label>
							<div class="input-group mb-3">
								<f:form.textfield type="password" value="{password.password}"
									class="form-control{f:if(condition: '{password.password} && {validationResults.hasErrors}',then: ' is-invalid')}{f:if(condition: '{password.password} && !{validationResults.hasErrors}',then: ' is-valid')}"
									id="password" property="password" additionalAttributes="{required:'required'}"
								/>
							</div>
							<label for="confirmPassword"><f:translate key="changePassword.form.confirmPassword" /></label>
							<div class="input-group mb-3">
								<f:form.textfield type="password" value="{password.confirmPassword}"
									class="form-control{f:if(condition: '{password.confirmPassword} && {validationResults.hasErrors}',then: ' is-invalid')}{f:if(condition: '{password.confirmPassword} && !{validationResults.hasErrors}',then: ' is-valid')}"
									id="confirmPassword" property="confirmPassword" additionalAttributes="{required:'required'}"
								/>
							</div>
							<small class="form-text text-muted"><f:translate key="changePassword.form.note" /></small>
						</div>
						<f:form.submit class="btn btn-primary btn-lg" value="{f:translate(key: 'changePassword.form.submitChange')}" />
					</f:form>
				</div>
			</div>
		</div>
	</f:section>
	<f:section name="nonauthenticated">
		<div class="card-body">
			<div class="card-text">
				<div class="alert alert-danger">
					<f:translate key="changePassword.form.error.notLogged" />
				</div>
			</div>
		</div>
	</f:section>
</body>
</html>
