<!DOCTYPE html PUBLIC "-//WC//DTD XHTML . Strict//EN" "http://www.w.org/TR/xhtml/DTD/xhtml-strict.dtd">
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:c="http://typo3.org/ns/Cylancer/Usertools/ViewHelpers" data-namespace-typo3-fluid="true"
	xmlns="http://www.w.org//xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
	<f:layout name="Default" />
	<f:section name="main">
		<f:asset.script identifier="usertools_jquery-3.7.1.min.js"
			src="EXT:usertools/Resources/Public/JavaScript/Dist/jquery-3.7.1.min.js" />
		<f:asset.script identifier="usertools_fastSearch.js"
			src="EXT:usertools/Resources/Public/JavaScript/Src/fastSearch.js" defer="defer" />
		<div class="container mb-4">
			<div class="row">
				<div class="col-3 pr-0 mr-0">
					<label for="fastSearch">
						<f:translate key="listAllUser.fastSearch.textfield" />
					</label>
				</div>
				<div class="col-7 pr-0 mr-0">
					<input id="fastSearch" class="form-control">
				</div>
				<div class="col-1 pl-0 ml-0">
					<button id="fastSearchButton" class="btn btn-primary">
						<f:translate key="listAllUser.fastSearch.button" />
					</button>
				</div>
			</div>
		</div>

		<table class="table listusers">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">
						<div class="container">
							<div class="row">
								<div class="col-sm">
									<f:translate key="listAllUser.name" />
								</div>
								<div class="col-sm">
									<f:translate key="listAllUser.email" />
								</div>
								<div class="col-sm">
									<f:translate key="listAllUser.telephone" />
								</div>
							</div>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{users}" as="user">
					<tr id="name_{user.username}">
						<td class="picture">
							<f:if condition="{user.portrait}  && {user.allowDisplayImageInternal}">
								<f:then>
									<f:image image="{user.portrait}" maxWidth="150" maxHeight="200" />
								</f:then>
								<f:else>
									<f:image src="EXT:usertools/Resources/Public/NoPhoto.png"
										alt="{f:translate(key:'editProfile.form.userPictureAlt')}"
										title="{f:translate(key:'editProfile.form.userPictureTitle')}" maxWidth="150"
										maxHeight="150" />
								</f:else>
							</f:if>
						</td>
						<td class="name">
							<div class="container">
								<div class="row">
									<div class="col-sm">
										<strong class="fullName"
											style="scroll-margin-top: 150px;">{user.firstName}&nbsp;{user.lastName}</strong>
										<ul class="userGroupList">
											<f:for each="{user.allSortedUserGroups}" as="group">
												<f:if condition="{c:inArray(value:group.uid, array:visibleFeGroups)}">
													<li class="userGroupTitle">{group.title}</li>
												</f:if>
											</f:for>
											<f:if condition="{canViewCurrentlyOffDuty} && {user.currentlyOffDuty}">
												<li class="text-primary">
													<f:translate key="listAllUser.currentlyOffDuty" />
												</li>
											</f:if>
										</ul>
									</div>
									<div class="col-sm">
										<div class="subtitle email d-block d-sm-none">
											<f:translate key="listAllUser.email" />
											:
										</div>
										<p>
											<f:if condition="{user.email}">
												<f:then>
													<f:if condition="{user.allowDisplayEmail}">
														<f:then>
															<f:link.email email="{user.email}" />
															<f:if condition="!{user.allowDisplayEmail}">
																<br>(
																<f:translate key="listAllUser.emailNotPublic" />)
															</f:if>
														</f:then>
														<f:else>
															<f:if condition="{alternativEmailLink}">
																<f:then>
																	<f:link.typolink parameter="{alternativEmailLink}">
																		<f:translate key="listAllUser.emailNotPublic" />
																	</f:link.typolink>
																</f:then>
																<f:else>
																	<f:translate key="listAllUser.emailNotPublic" />
																</f:else>
															</f:if>
														</f:else>
													</f:if>
												</f:then>
												<f:else>
													<f:translate key="listAllUser.noEmailAvailable" />
												</f:else>
											</f:if>
										</p>
									</div>
									<div class="col-sm">
										<div class="subtitle phone d-block d-sm-none">
											<f:translate key="listAllUser.phoneNumber" />
											:
										</div>
										<p>
											<f:if condition="{user.telephone}">
												<f:then>
													<f:if condition="{user.allowDisplayPhone}||{canViewPhoneNumbers}">
														<f:then>
															<a href="tel:{user.telephone}">{user.telephone}</a>
															<f:if condition="!{user.allowDisplayPhone}">
																<br>(
																<f:translate key="listAllUser.phoneNumberNotPublic" />)
															</f:if>
														</f:then>
														<f:else>
															<f:translate key="listAllUser.phoneNumberNotPublic" />
														</f:else>
													</f:if>
												</f:then>
												<f:else>
													<f:translate key="listAllUser.nonePhoneNumber" />
												</f:else>
											</f:if>
										</p>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:section>
</body>

</html>